* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

#header {
    height: 8vh;
    text-align: center; 
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
}

#main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tic, 
.tac,
.toe {
font-size: 80px;
font-family: 'Dongle', sans-serif;
display: inline-block;
}

.tic {
    color: crimson
}

.tac {
    color: seagreen
}

.toe {
    color: sandybrown
}

#gameboard {
    height: 409px; 
    width: 409px;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    flex-shrink: 0;
    border: 2px solid snow;
    box-shadow: 0px 0px 10px 0px rgb(56, 54, 54);
}

.socket {
    width: 135px;
    height: 135px;
    border: 1px solid snow;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Dongle', sans-serif;
    cursor: pointer;
    
}

.socket.one {
    background-color: #c1db11;
}

.socket.two {
    background-color: #75af1a;
}

#gamestatus {
    height: 5vh;
    font-size: 20px;
    color: crimson;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#reset {
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: sandybrown;
    color: white;
    border: none;
}

#reset:hover {
    background-color: saddlebrown;
}

#reset:active {
    transform: translateY(2.5px)
}

a {
    text-decoration: none;
    font-weight: bold;
    color:seagreen
}

@media screen and (max-width: 450px) {
    .tic, 
    .tac,
    .toe {
        font-size: 60px;
    }

    #gameboard {
        width: 305px;
        height: 305px;
    }

    .socket {
        width: 100px;
        height: 100px;
    }

    #gamestatus {
        font-size: 18px;
    }

    button {
        width: 80px;
        height: 45px;
        font-size: 18px
    }
}